<footer class="elpie">

    <div Class="mainfooter">
        <section class="footeritem" >
            <picture class="footerpic" ><i class="fas fa-credit-card"></i></picture>
            <h3>Paga con tarjetas o en efectivo</h3>
            
            <p>Con Mercado liebre cash, tenes cuotas sin interes con tarjeta o en efectivo en puntos de pago ¡Y siempre es seguro¡</p>
        
        </section>
    
        <section class="footeritem" >
            <picture class="footerpic" ><i class="fas fa-gift"></i></picture>
            <h3>Envío Gratis a partir de $2.500</h3>
            <p>Solo por estar registrad@ en mercado liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado puntos</p>
        </section>

        <section class="footeritem" >
            <picture class="footerpic" ><i class="fas fa-user-shield"></i></picture>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? Devolvelo!En Mercado Liebre , no hay nada que no puedas hacer, por que estas siempre protegi@</p>
        </section>
    </div>
   
    <section class= "copi2">
        <p>Copyrigth© 1990-2020 MercadoLiebre SRL</p>
    </section>
    
</footer>