<header>

    <section class="header_superior">
        
        <picture class="laImagen"><img class="la_Imagen" src="/images/logo-mercado-liebre.svg" alt="LogoML"></picture>
        
        <form action="" class="elbuscador">
            <input class="search"type="search"  id="algo" name="search" placeholder="Buscá tus productos..">
            <button class="laLupita"><i class="fas fa-search"></i></button>
           
        </form>
        <h1 class = "copi"> <i class="fas fa-hand-holding-usd"></i>Compra en Cuotas y sin Tarjeta de Credito</h1>
        
    
    </section>

        <section class="header_inferior">
            <nav class= "navegador_izquierda">
                <a class= "links" href="/">Ofertas</a>
                <a class= "links" href="/">Tiendas Oficiales</a>
                <a class= "links" href="/">Vender</a>
                <a class= "links" href="/">Ayuda</a>
            </nav>

            <nav class="navegador_derecha">
                <a class= "links" href="/users/register"><i class="far fa-address-card"></i>Creá tu cuenta</a></a>
                <a class= "links" class="link" href="/users/login"><i class="fas fa-sign-in-alt"></i>Ingresá</a>
                <a class= "links" class="link" href="/"><i class="fas fa-shopping-basket"></i>Mis Compras</a>
            </nav>
        </section>

    <nav >
        <a class="burger-menu" href=""><i class="fas fa-bars" id="menu_"></i></a>
    </nav>
           
    <picture class= "banner"><img src="/images/img-home-banner.jpg" alt="" ></picture>
</header>