

    <%- include("../../includes/head")  %> 
    <body>
    
        <%- include("../../includes/header")  %> 
      
      
        <main class="home-main">
    
            
        <form action="/products/create" class="main-form" method="POST" enctype="multipart/form-data">
    
            <% if (locals.errors) { %>
               
                <% errors.forEach(error => { %>
                    <p class ="feedback-errors">* <%= error.msg %></p>
        
                <% }) %>
    
            <% } %>
            
    
            
            <fieldset class="main-control" >
                <label  class="titulo" for="descripcion" >Descripcion </label>
                <input class="entradas" type="text" name="descripcion"  placeholder="Descripción" >
            </fieldset>
    
           
            
            
    
            <fieldset class="checkbox" multiple >
                <label class="cabecera" for="radio">Categoría</label>
                    
               
     
                    <label  class="int" for="electro">
                        <input   class="check"  type="checkbox"  name="categoria"  value="electro" id="electro"  >
                        Electro</label>
                    <label  class="int" for="moda"> 
                        <input   class="check"  type="checkbox"  name="categoria"  value="moda" id= "moda" >Moda</label>
                    <label  class="int" for="hogar"> 
                        <input   class="check"  type="checkbox"  name="categoria"  value="hogar" id="hogar"   >Hogar</label>
                    <label  class="int" for="jugueteria"> 
                        <input   class="check"  type="checkbox"  name="categoria"  value="jugueteria" id="jugueteria"   >Jugueteria</label>
                    <label  class="int" for="vidaSana"> 
                        <input   class="check"  type="checkbox"  name="categoria"  value="vidaSana" id="vidaSana"    >Vida Sana</label>
                
            </fieldset>
    
            <fieldset class="main-control" >
                <label  class="cabecera" for="foto">Imagen Producto</label>
                <input type="file" name="foto"  >
            </fieldset>
    
            
           
            

            <fieldset class="main-control" >
                <label  class="titulo" for="precio" >Precio </label>
                <input class="entradas" type="number" name="precio"  placeholder="Precio" min="0">
            </fieldset>


            <fieldset class="main-control" >
                <label  class="titulo" for="descuento" >Descuento </label>
                <input class="entradas" type="number" name="descuento"  placeholder="Descuento en %" >
            </fieldset>
    

            <fieldset class="button">
                <input class="button-1" type="submit" name="enviar" id="" placeholder="Guardar">
                 <input class="button-1" type="reset" name="borrar" id="" placeholder="Borrar">
                 
             </fieldset>
            
        </form>
    
       </main>
    
    
        <%- include("../../includes/footer")  %> 
    
    </body>
    </html>