<%- include("../../includes/head")  %> 

<body>

    <%- include("../../includes/header")  %> 

    <main>
    <h1 class = "success">PANEL ADMINISTRADOR</h1>

    <form action="../users/login">
        
        <input class = "button-1" type="submit" name="Login" placeholder="Login" >
    </form>
</main>

<%- include("../../includes/footer")  %> 
</body>
</html>