<%- include("../../includes/head")  %> 
<body>

    <%- include("../../includes/header")  %>

<main class ="home-main">
    <form action="/home" class ="main-form" method ="POST">

        <fieldset class="main-control" >
            <label class="titulo" for="nombreUsuario">Nombre de Usuario</label>
            <input class="entradas" type="text" name="nombreUsuario" required placeholder="Nombre de Usuario" >
        </fieldset>
        
        <fieldset class="main-control" >
            <label  class="titulo" for="contrase単a" >Contrase単a</label>
            <input class="entradas" type="text" name="contrase単a" required placeholder="Contrase単a">
        </fieldset>
    
            <fieldset class="button">
                <input class="button-1" type="submit" name="enviar" id="" placeholder="Enviar">
                
                
            </fieldset>
    
    </form>

</main>



<%- include("../../includes/footer")  %>


</body>
</html>

