<%- include("../../includes/head")  %> 

<body>

    <%- include("../../includes/header")  %> 

    <main class ="home-main">
    <h1 class = "success">PANEL USUARIO</h1>

    
</main>

<%- include("../../includes/footer")  %> 
</body>
</html>